body {
  background:url('background.jpg');
  background-repeat: repeat;
  background-size: 100%;
}



.navbar{
  position: relative;
  padding: 0.5rem 1rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar a.active{
  background-color: #4b5132;
  color: white;
}

.navbar ul{
  background-color: #a6a6a6;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}

.navbar li{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  float: right;
  list-style-type: none;

}
.navbar li a{
  display: inclineblock;
  text-align:center;
  text-decoration: none;
  padding: 15px;
  transition: all 0.3s;

}

.navbar a:hover{
  background-color: #29B6E6;
  border-bottom: 5px solid #29B6F6;
}

.resume-wrapper {
  padding-bottom: 20px;
  position: relative;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px #999;
  margin: 30px auto;
  padding-bottom: 40px;
  background: #ECEFF1;
  font-family: 'Roboto Slab', serif;
}

.resumeTitle{
  text-align: center;
  font-size: 35px;
  color: #ff6600;
}

.resume-wrapper section{
  margin: 10px 40px 30px 40px;
  animation: fadein 0.5s
}

.resuem-wrapper h2{
  margin: 10px auto;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  border-bottom: 1px solid #333;
}

.index-wrapper{
  padding-bottom: 20px;
  position: relative;
  width: 90%;
  margin: 20px auto;
  padding-bottom: 40px;
}



.one{

}
